    </div> <!-- End of container -->

 <footer class="o-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="">
          <div class="c-footer-credits">
            <h4 class="">Support</h4>
            <p>
                Support and contact information goes here.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <h4>About this page</h4>
        <p>
            Unless otherwise stated, all content is available under the
          <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
        </p>
        <p class="c-footer-epimorphics">
          <span class="i18n">Design and development by</span>
          <a href="http://www.epimorphics.com">Epimorphics</a>.
        </p>
      </div>

    </div><!--/.row-->
  </div>
</footer>


    <script type="text/javascript" src="$assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="$assets/js/jquery.dataTables.min.js"></script>
    <script src="$assets/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript" src="$assets/js/ui.js"></script>
    #if($extraJS)
      #foreach($file in $extraJS.split(","))
        <script type="text/javascript" src="$assets/js/$file"></script>
      #end
    #end
  </body>
</html>
