## Render any colour bar and service status information on all pages

    <div class='o-top-colour-bar'></div>
    <div class='o-service-phase'>
        <span class='c-service-phase-beta-badge'>
            $msg['service.beta.label']
        </span>
        $msg.get('service.beta.description', 'TBD')
    </div>
