
/* Hierarchical list support */
.hlist-entry {
    min-width: 600px;
    border: 1px solid lightgrey;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.hlist-child-box {
    padding-left: 40px;
}
