## Return rendered list of children of some $concept, $narrow gives the path expression for testing narrowing. $reg gives the register we are focussed on.

#set($root=$registry.rootPath)
#set($uiroot="$root/ui")

#set($query="SELECT DISTINCT ?item WHERE 
             { 
               <$concept> $narrow ?entity. 
               ?entity ^reg:entity/^reg:definition/^version:currentVersion ?item .
               <$reg> ^reg:register ?item .
               OPTIONAL { 
                 ?entity rdfs:label|skos:prefLabel ?label 
               } 
             } ORDER BY lcase(?label)")

#parse( "main/_hlist-render.vm" )