## Render a regsistered entity - it may be a register or a leaf entry
##
## Input parameters:
##   $entity   - the thing to render
##   $item     - the RegisterItem corresponding to $entity
##   $register - same as $entity if it is a register, otherwise undefined
##   $versionNumber - the version of the item being displayed (if not current)
##   $tabStatus - query parameter given tab within the metadata panel which is selected

## Bind $uri to the path for $item so the general action-tab machinery works uniformly
#set( $uri = $item.uRI.substring($registry.baseURI.length()) )
#set( $uri = $uri.replaceAll("^/", "") )

#set( $template = $lib.reg.templateFor($entity) )

#set( $isAdministrator = $lib.reg.isPermitted("Grant", $uri) )

<div class="row">
  <div class="col-md-10">
    #parse( "main/_breadcrumbs.vm" )
  </div>
  <div class="col-md-offset-1 col-md-1">
    #showstatus( $item.getPropertyValue("reg:status") )
  </div>
</div>

<div class="row">
  <div id="description" class="col-md-10">
    <h2>#if($register)Register: #{else}Entry: #end $entity.name #if($versionNumber)- showing version $versionNumber#end</h2>
    <p>  <strong>URI:</strong> <a href="#linkhref($entity)" title="$entity.uRI">$entity.uRI</a> </p>
    <p> #description($entity, "<p><em>no description supplied</em></p>") </p>
  </div>
  <div id="metadata-pane" class="col-md-5 hide">
    <div class="tab-content" id="metadata-content">
      <div class="tab-pane" id="detailsTab">
        <h3 class="text-center">Core metadata</h3>
        <table class="table table-condensed">
          #metadatarow("is a", $entity.listPropertyValues("rdf:type"))
          #metadatarow("category", $entity.listPropertyValues("reg:category"))
          #metadatarow("owned by", $entity.listPropertyValues("reg:owner"))
          #metadatarow("contains", $entity.listPropertyValues("http://environment.data.gov.uk/registry/structure/ui/entityType"))
          #metadatarow("licence", $entity.listPropertyValues("dct:license"))
          #smetadatarow("rights attribution", $entity.connectedNodes("dct:rights/odrs:attributionText"))
          #metadatarow("changed on", $item.listPropertyValues("dct:modified"))
          #nmetadatarow("submitted by", $item.listPropertyValues("reg:submitter"))
          #metadatarow("accepted on", $item.listPropertyValues("dct:dateAccepted"))
          #metadatarow("superseded by", $item.listPropertyValues("reg:successor"))
          #metadatarow("supersedes", $item.listPropertyValues("reg:predecessor"))
        </table>
      </div>
      <div class="tab-pane" id="downloadsTab">
        #parse( "main/_md-panel-downloads.vm" )
      </div>
      #if($register)
        <div class="tab-pane" id="propertiesTab">
          <h3 class="text-center">All properties of the register</h3>
          #restable($entity, "table-striped table-condensed")
        </div>
      #else
        <div class="tab-pane" id="metadataTab">
          <h3 class="text-center">All metadata properties</h3>
          #restable($item, "table-striped table-condensed")
        </div>
      #end
      #if(!$register)
        <div class="tab-pane" id="historyTab" data-action="showhistory" data-uri='$uri' data-uiroot='$uiroot'>
            <div class="tab-pane-inner">
                Pane is loading ...
            </div>
            #if( ! $item.listPropertyValues("reg:predecessor").isEmpty() )
                <div class="row space-above">
                    <div class="col-md-3">
                        <strong>Supercedes</strong>
                    </div>
                    <div class="col-md-9">
                        #foreach( $value in $item.listPropertyValues("reg:predecessor") )
                            #render($value)#if( $foreach.hasNext )| #end
                        #end
                    </div>

                </div>
            #end
        </div>
      #end
      #if($subject.isAuthenticated())
        <div class="tab-pane" id="actionsTab">
          #parse( "main/_md-panel-actions.vm" )
        </div>
      #end
      #if( $isAdministrator )
        <div class="tab-pane" id="adminsTab">
          #parse( "main/_md-panel-admins.vm" )
        </div>
      #end
      <div class="tab-pane active" id="collapse-tab">
        <span class="small">Select tab to expand</span>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked action-tab" id="pillstack">
        <li><a href="#detailsTab">Core metadata</a></li>
        #if($register)
          <li><a href="#propertiesTab">All properties</a></li>
        #else
          <li><a href="#metadataTab">All metadata</a></li>
        #end
        <li><a href="#downloadsTab">Download</a></li>
        #if(!$register)
          <li><a href="#historyTab" data-toggle="tab">History</a></li>
        #end
        #if($subject.isAuthenticated())
          <li><a href="#actionsTab">Actions</a></li>
        #end
        #if( $isAdministrator )
          <li><a href="#adminsTab">Administrators</a></li>
        #end
        <li id="close-pillstack" class="hide"><a href="#collapse-tab" data-toggle="tab"><span class="glyphicon glyphicon-remove-circle"></span></a></li>
    </ul>
  </div>
</div>

#if($register)
  #set( $items = $model.querySelectW("SELECT * where {?page a ldp:Page; api:items ?items.}") )
  #if (!$items.isEmpty())
    #set( $members = $items.get(0).items.asList() )
    #set( $hasmembers = !$members.isEmpty() )
  #else
    #set( $hasmembers = false )
  #end

  #if( !$hasmembers )
    <h2>... currently empty</h2>
  #else
    #if (($register.getPropertyValue("ui:hierarchyRootType") || $register.getPropertyValue("ui:hierarchyRootProperty")) && $register.getPropertyValue("ui:hierarchyChildProperty"))
      #if(!$listView)
        <h2>Contents (tree view) <a href="$root/$uri?listView=true" class="btn btn-default btn-sm" role="button" data-trigger="hover" data-placement="top" data-content="View contents as a flat list"><span class="glyphicon glyphicon-list"></span></a></h2>
        #parse( "main/_render-register-as-tree.vm" )

      #else
        <h2>Contents (list view) <a href="$root/$uri?treeView=true" class="btn btn-default btn-sm" role="button" data-trigger="hover" data-placement="top" data-content="View contents as a hierarchy"><span class="glyphicon glyphicon-tree-conifer"></span></a></h2>
        #parse( "main/_render-register-as-list.vm" )

      #end
    #elseif ($registry.configExtensions.showClassDiagrams && $register.hasResourceValue("rdf:type", "owl:Ontology"))
      #if($classView)
        <h2>Contents <a href="$root/$uri?listView=true" class="btn btn-default btn-sm" role="button" data-trigger="hover" data-placement="top" data-content="View contents as list">Show as list</a></h2>
        #parse( "main/_register-class-diagram.vm" )

      #else
        <h2>Contents <a href="$root/$uri?classView=true" class="btn btn-default btn-sm" role="button" data-trigger="hover" data-placement="top" data-content="View contents as a class diagram">Show as class diagram</a></h2>
        #parse( "main/_render-register-as-list.vm" )

      #end
    #else
      <h2>Contents</h2>
      #parse( "main/_render-register-as-list.vm" )
    #end
  #end

#else 
  ## A single entity, not a register
  
  $lib.reg.addLabels($entity)

  <div class="row">

  	<div class=#if($registry.configExtensions.suppressLinkView) "col-md-12" #else "col-md-6" #end>
  		<h2>Definition</h2>
  		#if($template)
          #parse($template)
  		#else
  		  #restable($entity, "table-striped table-condensed table-bordered")
  		#end
  	</div>
    #if( ! $registry.configExtensions.suppressLinkView )
    <div class="col-md-offset-1 col-md-5">
      #parse( "main/_item-links-render.vm" )
    </div>
    #end
  </div>
#end

#if($tabStatus)
<script type="text/javascript">
  $(function() {
    showMetadataTab("$tabStatus");
  });
</script>
#end