## Render metadata panel showing adminstrators

#macro(grantdialog $grant $gdid)
    <div id="$gdid" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Locate a registered user to grant $grant administration rights to</h3>
                </div>
                <div class="modal-body">
                    <form id="user-form-$grant"  class="form-search query-form"
        data-target="$root/system/security/listusers?uri=/$uri&suffix=test&grant=$grant&query=" data-query="#user-query-$grant" data-result="#user-list-$grant">
                        <div class="input-group">
                            <input class="form-control" id="user-query-$grant" type="text" class="input-medium">
                            <span class="input-group-btn">
                                <button id="user-search-$grant" type="submit" class="btn">Search</button>
                            </span>
                        </div>
                    </form>
                    <div id="user-list-$grant"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->  
#end
##    of macro

    <h3 class="text-center">Administrators for this item</h3>

    #set($path="/" + $uri)
    #set($auths=$registry.userStore.authorizedOn($path))
    #if($register)
      #set($grant="Manager")
    #else
      #set($grant="Maintainer")
    #end
    #if($auths.isEmpty())
       <p>No local authorizations found</p>
    #else
       <table class="table table-condensed table-bordered">
         <tbody>
      #foreach($auth in $auths)
        #set($user = $auth.user)
        <tr>
          <td>
            <span title="$user.openid">$user.name</span>
          </td>
          <td>
            $auth.permissions
          </td>
          <td>
            <form class="form-inline" action="$root/system/security/ungrant" method="post">
              <input type="hidden" name="user" value="$user.openid" />
              <input type="hidden" name="path" value="$path" />
              <input type="submit" value="remove" class="btn btn-default btn-sm">
            </form>
          </td>
        </tr>
      #end

         </tbody>
       </table>
    #end

    #if($register)
    <div class="row space-above">
      <div class="col-md-7">
        <a href="#grant-user-dialog" role="button" class="btn btn-default btn-sm" data-toggle="modal">$grant</a>
        <a href="#grant-submitter" role="button" class="btn btn-default btn-sm" data-toggle="modal">Submitter</a>
        <a href="#grant-reviewer" role="button" class="btn btn-default btn-sm" data-toggle="modal">Reviewer</a>
      </div>
      <div class="col-md-2">
        <form class="form-inline" action="$root/system/security/grant" method="post">
          <input type="hidden" name="grant" value="Register" />
          <input type="hidden" name="user" value="http://localhost/anon" />
          <input type="hidden" name="path" value="$path" />
          <input type="submit" value="Open" class="btn btn-default popinfo btn-sm"
                data-trigger="hover" data-placement="bottom" data-content="Any authorized user can register items"/>
        </form>
      </div>
      <div class="col-md-3">
        <form class="form-inline" action="$root/system/security/grant" method="post">
          <input type="hidden" name="grant" value="Authorized" />
          <input type="hidden" name="user" value="http://localhost/anon" />
          <input type="hidden" name="path" value="$path" />
          <input type="submit" value="Fully open" class="btn btn-danger btn-sm popinfo" 
                data-trigger="hover" data-placement="bottom" data-content="Any authorized user can register items, update them and update status"/>
        </form>
      </div>
    </div>
    #else
    <div class="row space-above">
      <div class="col-md-6">
        <a href="#grant-user-dialog" role="button" class="btn btn-default btn-sm" data-toggle="modal">$grant</a>
      </div>
    </div>
    #end

    #grantdialog($grant, "grant-user-dialog")
    #if($register)
      #grantdialog("Submitter", "grant-submitter")
      #grantdialog("Reviewer", "grant-reviewer")
    #end
