## Render a tree view of a register
##   $register will be bound to the register
##   $item     will be bound to the corresponding RegisterItem

#set($rootType = $register.getPropertyValue("ui:hierarchyRootType"))
#set($rootProp = $register.getPropertyValue("ui:hierarchyRootProperty"))
#set($x=$register.getPropertyValue("ui:hierarchyChildProperty"))
#if($x.isLiteral())
    #set($narrow=$x.lexicalForm)
#else
    #set($narrow="<$x.uRI>")
#end

#if($rootType) 
  #if ($rootType.isResource())
    #set($queryPart="?entity a <$rootType.uRI>. ")
  #else
    #set($queryPart="?entity a $rootType. ")
  #end
#elseif($rootProp)
  #set($queryPart="?entity $rootProp []. ")
#else
  ## can't happen
  #set($queryPart="")
#end

#set($query="SELECT DISTINCT ?item WHERE {<$register.uRI> ^reg:register ?item . ?item version:currentVersion/reg:definition/reg:entity ?entity . $queryPart}")

#parse( "main/_hlist-render.vm" )
