## Render the "Admin" menu within the navigation bar

#set($user=$subject.principal)
<li #if($nav=="admin")class="active"#end class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">$msg['nav.admin.label'] <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a  href="$uiroot/view-permissions">$msg['users.permission.label']</a></li>

        #if( ! $registry.configExtensions.suppressPasswordLogin)
            <li><a  href="$uiroot/change-password">$msg['user.password.change.label']</a></li>
        #else
            <li><a  href="$uiroot/temporary-password">$user.password.temporary.label</a></li>
        #end
        #if($subject.hasRole("administrator"))
            <li role="separator" class="divider"></li>
            <li><a  href="$uiroot/manage-users">$msg['users.manage.label']</a></li>
            <li><a  href="$uiroot/backups">$msg['backups.label']</a></li>
            <li><a  href="$uiroot/text-reindex">$msg['textIndex.rebuild.label']</a></li>
        #end
        
        <li role="separator" class="divider"></li>
        <li><a  href="#logout-dialog" role="button" data-toggle="modal">$msg['logout.button']</a></li>
    </ul>
</li>
