## Render the "Admin" menu within the navigation bar

#set($user=$subject.principal)
<li #if($nav=="admin")class="active"#end class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a  href="$uiroot/view-permissions">View permissions</a></li>

        #if( ! $registry.configExtensions.suppressPasswordLogin)
            <li><a  href="$uiroot/change-password">Change password</a></li>
        #else
            <li><a  href="$uiroot/temporary-password">Create temporary password</a></li>
        #end
        #if($subject.hasRole("administrator"))
            <li role="separator" class="divider"></li>
            <li><a  href="$uiroot/manage-users">Manage users</a></li>
            <li><a  href="$uiroot/backups">Backups</a></li>
            <li><a  href="$uiroot/text-reindex">Rebuild text index</a></li>
        #end
        
        <li role="separator" class="divider"></li>
        <li><a  href="#logout-dialog" role="button" data-toggle="modal">Logout</a></li>
    </ul>
</li>
