## Render the top navigation bar

#if( $registry.isRedirectToHttpsOnLogin() )
    #set($scheme = "https")
#else
    #set($scheme = "http")
#end
#if ( $request.getServerPort() == "80" )
   #set( $absoluteRoot = "$scheme://$request.serverName/registry" )
#else
   #set( $absoluteRoot = "$scheme://$request.serverName:$request.getServerPort()/registry" )
#end

<nav class='navbar o-navbar-reg navbar-static-top' role='navigation'>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-3'>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class='navbar-header'>
                    <button class='navbar-toggle collapsed' data-target='#navbar-ea-menu' data-toggle='collapse' type='button'>
                        <span class='sr-only'>$msg['nav.toggle.button']</span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                    </button>
                    <a class="navbar-brand" href="$root/">$registry.configExtensions.registryName</a>
                </div>
            </div>

            <div class="col-sm-9">
                <div class='collapse navbar-collapse' id='navbar-ea-menu'>
                    <ul class='nav navbar-nav navbar-left'>
                        <li #if($nav=="browse")class="active"#end><a href="$root/?_browse=true">$msg['nav.browse.label']</a></li>
                        <li #if($nav=="about")class="active"#end><a href="$uiroot/about">$msg['nav.about.label']</a></li>
                        #if($subject.isAuthenticated())
                            #parse( "nav/_menu-admin.vm" )
                        #end
                        #parse( "nav/_menu-advanced.vm" )
                    </ul>

                    <form action="$uiroot/text-search" method="get" class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="search" class="form-control search-query" placeholder="$msg['ui.search']" #if($query)value="$lib.escapeHtml($query)"#end name="query"/>
                        </div>
                        <button type="submit" class="btn btn-default">$msg['ui.submit']</button>
                    </form>

                    #if($registry.languageManager.multilingual)
                      <ul class="nav navbar-nav navbar-right">
                        #parse("nav/_menu-language.vm")
                      </ul>
                    #end

                    #if($subject.isAuthenticated())
                        #set($user=$subject.principal)
                        <ul class="nav navbar-nav navbar-right">
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">$msg['nav.user.label'] <b class="caret"></b></a>
                            <ul class="dropdown-menu dropdown-menu-right" style="width: max-content;">
                              <li>
                                <span>$user.name</span>
                              </li>
                              <li>
                                <a href="#logout-dialog" data-target="#logout-dialog" role="button" data-toggle="modal">$msg['logout.button']</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                    #end
                </div>
            </div>
        </div>
    </div>
</nav>

#if($subject.isAuthenticated())
    #parse( "actions/_logout-dialog.vm" )
#end

