#set($nav="about")
#parse("structure/_preamble.vm")
    <div class="jumbotron">
      <div class="container">
        <h1>$registry.configExtensions.registryName</h1>
      </div>
    </div>

    <p>$msg.about.service</p>

#parse("structure/_footer.vm")
