#set($nav="admin")
#parse("structure/_preamble.vm")

    #if($subject.isAuthenticated())
        <h2>Admin action completed</h2>
        <p>See the Admin menu for further actions available.</p>

    #else
        <h3>Sorry you must be logged in to access this page</h3>
    #end

#parse("structure/_footer.vm")
