<table class="table table-bordered table-condensed">
  <tbody>
  #foreach($user in $admins)
    <tr>
      <td>
        <span title="$user.openid">$user.name</span>
      </td>
      <td>
        <form class="form-inline" action="$root/system/security/setrole" method="post">
          <input type="hidden" name="role" value="" />
          <input type="hidden" name="id" value="$user.openid" />
          <input type="submit" value="remove" class="btn btn-primary popinfo btn-sm" data-trigger="hover" data-placement="bottom"
            data-content="Warning: this will remove administrator rights from this person!" />
        </form>
      </td>
    </tr>
  #end
  </tbody>
</table>
