## Assumes $uri is set to the uri of the entity/item/register being displayed
    #set($link="$root")
    <ol class="breadcrumb">
      <li><a href="$link/">$registry.baseURI</a></li>
      #foreach($segment in $uri.split("/"))
        #if($foreach.hasNext)
          <li><a href="$link/$segment">$segment</a></li>
        #else
          <li class="active">$segment</li>
        #end
        #set($link="$link/$segment")
      #end
    </ol>
