#parse("header.vm")
#set($nav="admin")
#parse("navbar.vm")

    <div class="container">
    #if($subject.isAuthenticated())
        <h2>Change password</h2>
              <div class="row">
                <form class="form-horizontal form-validated" role="form"  action="$root/system/security/setpassword" method="post">
                  <div class="form-group">
                    <label for="currentPassword" class="col-md-offset-1 col-md-4 control-label">Current password</label>
                    <div class="col-md-6">
                      <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Current password" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="newPassword" class="col-md-offset-1 col-md-4 control-label">New password</label>
                    <div class="col-md-6">
                      <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New password" minlength=8 required pwcomplex="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password2" class="col-md-offset-1 col-md-4 control-label">Repeat password</label>
                    <div class="col-md-6">
                      <input type="password" class="form-control" id="password2" name="password2" placeholder="Password" required equalTo="#newPassword">
                    </div>
                  </div>
                  <input type="hidden" name="return" value="$absoluteRoot/" />
                  <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                      <button type="submit" class="btn btn-default">Change password</button>
                    </div>
                  </div>
                </form>
              </div>


    #else
        <h3>Sorry you must be logged in to access this page</h3>
    #end

#set( $extraJS = "jquery.validate.min.js,validate-password.js" )
#parse("footer.vm")
