#set($pageTitle="Registry error")

#parse("header.vm")
  #if($uri.isEmpty())
    #set($nav="root")
  #end
#parse("navbar.vm")

    <div class="container">
        <h2>Sorry</h2>

        <p>$lib.escapeHtml($message)</p>

    ## container will be closed by footer
#parse("footer.vm")
