## Parameters:
##    $return the page to return to (or is that just referrer)

#set($pageTitle="Registry login")
#parse("preamble.vm")

#set($provider=false)
#foreach($cookie in $request.cookies)
  #if($cookie.name == "ukgovld-login-provider")
    #set($provider=$cookie.value)
  #end
#end

  <div class="row">
    <div class="col-md-12 modal-page-panel">
      <div class="modal-page-head">
        <h1>Login or register</h1>
      </div>
      <div class="modal-page-body">
        
        <p>It is not necessary to login or register to simply access the registry. This is only necessary if wish to add or change entries.</p>

        <div class="row space-above">
        
          <div class="col-md-offset-2 col-md-5 blob pale-blue">
            <div class="blob-inner">
              <div class="row">
                <div class="col-md-12">
                  <h2>Login</h2>
                </div>
              </div>
              #if(!$registry.configExtensions.suppressPasswordLogin)
              <div class="row">
                <form class="form-horizontal" role="form"  action="$root/system/security/pwlogin" method="post">
                  <div class="form-group">
                    <label for="userid1" class="col-md-offset-1 col-md-2 control-label">Username</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" id="userid1" name="userid" placeholder="Username">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password1" class="col-md-offset-1 col-md-2 control-label">Password</label>
                    <div class="col-md-8">
                      <input type="password" class="form-control" id="password1" name="password" placeholder="Password">
                    </div>
                  </div>
                  <input type="hidden" name="return" value="$return" />
                  <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                      <button type="submit" class="btn btn-default">Login</button>
                    </div>
                  </div>
                </form>
              </div>
              #end
            </div>
          </div>
        
        </div>
        
        <div class="row space-above">
          <div class="col-md-12">
            <p>If you register or login this site will use cookies to record your
             preferred OpenID provider (if any) and to record the ID you are logged in with for this session.</p>
          </div>
        </div>

      </div>
      <div class="modal-page-footer">
        <div class="row">
          <div class="col-md-offset-10 col-md-1">
            <a href="#if($return)$root$return#else$root#end" class="btn">Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal-backdrop in"></div>

#parse("footer.vm")

