#if(!$uri.isEmpty() || $entity  || ${_browse})
    #set($nav="browse")
    #parse("preamble.vm")
    #parse("page-deref.vm")
#else
    #set($nav="category")
    #parse("preamble.vm")
    #parse("page-category.vm")
#end

#parse("footer.vm")
