<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>      
    </button>
    <a class="navbar-brand" href="$root/">$registry.configExtensions.registryName</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li #if($nav=="browse")class="active"#end><a href="$root/?_browse=true">Browse</a></li>
      <li #if($nav=="about")class="active"#end><a href="$uiroot/about">About</a></li>
      #if($subject.isAuthenticated())
        #set($user=$subject.principal)
        <li #if($nav=="admin")class="active"#end class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a  href="$uiroot/view-permissions">View permissions</a></li>
            #if( ! $registry.configExtensions.suppressPasswordLogin)
              <li><a  href="$uiroot/change-password">Change password</a></li>
            #else
              <li><a  href="$uiroot/temporary-password">Create temporary password</a></li>
            #end
            #if($subject.hasRole("administrator"))
              <li><a  href="$uiroot/administrators">Administrators</a></li>
              <li><a  href="$uiroot/reset-password">Reset user password</a></li>
              <li><a  href="$uiroot/backups">Backups</a></li>
              <li><a  href="$uiroot/text-reindex">Rebuild text index</a></li>
            #end
            <li><a  href="#logout-dialog" role="button" data-toggle="modal">Logout</a></li>
          </ul>
        </li>
##        <li #if($nav=="admin")class="active"#end><a href="$uiroot/admin">Admin</a></li>
      #end
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Advanced <b class="caret"></b></a>
        <ul class="dropdown-menu">
          #if($subject.isAuthenticated())
            <li><a  href="#logout-dialog" role="button" data-toggle="modal">Logout</a></li>
          #else
            <li><a href="$uiroot/login?return=/$uri">Login</a></li>
          #end
          <li><a href="$uiroot/sparql-form">Sparql</a></li>
          <li><a href="#">Check URI</a></li>
        </ul>
      </li>
    </ul>

    <form action="$uiroot/text-search" method="get" class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="search" class="form-control search-query" placeholder="Search" #if($query)value="$lib.escapeHtml($query)"#end name="query"/>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

    #if($subject.isAuthenticated())
      #set($user=$subject.principal)
      <ul class="nav pull-right">
        <li>
          <span>
            <span class="nav-text">$user.name</span><span class="glyphicon glyphicon-user"></span>
            <a class="popinfo" data-trigger="hover" data-placement="left"   data-content="Logout"
                        href="#logout-dialog" data-target="#logout-dialog" role="button" data-toggle="modal"><span class="glyphicon glyphicon-remove-circle"></span></a>
          </span>
        </li>
      </ul>
    #end

  </div><!-- /.navbar-collapse -->
</nav>

#if($subject.isAuthenticated())
    <div id="logout-dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Do you want to logout?</h3>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" action="$root/system/security/logout" method="post">
              <input type="submit" value="Logout" class="btn btn-danger" />
            </form>
          </div>
        </div>
      </div>
    </div>
#end
