## Insert paginator
##    $pageres should be bound to the ldp:Page resource in the mode
##    $page the current pagenumber from query parameters
##    $qparam to any additional query parameters to pass in the paging calls, if not empty it should include '&'

#if(!$qparam)#set($qparam="")#end
<nav>
    #if($page)
        #set($Integer = 0)
        #set($pagenum = $Integer.parseInt($page))

        <ul class="pagination pagination-sm">
            #if($pagenum > 0)
              #set($prev=$pagenum - 1)
              <li><a href="?page=$prev$qparam">&laquo;</a></li>
              #foreach($p in [0..$prev])
                <li><a href="?page=$p$qparam">$p</a></li>
              #end
            #else
              <li class="disabled"><a href="#">&laquo;</a></li>
            #end

            <li class="active"><a href="?page=$pagenum$qparam">$pagenum</a></li>

            #if($pageres.getPropertyValue("ldp:nextPage"))
              #set($next=$pagenum + 1)
              <li><a href="?page=$next$qparam">&raquo;</a></li>
            #end
          </ul>

      #elseif($pageres.getPropertyValue("ldp:nextPage"))
          <ul  class="pagination pagination-sm">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">0</a></li>
            <li><a href="?page=1$qparam">&raquo;</a></li>
          </ul>
      #end
</nav>
