#parse("header.vm")
#set($nav="admin")
#parse("navbar.vm")

    <div class="container">
    #if($subject.isAuthenticated() && $subject.hasRole("administrator"))
        <div class="row">
          <div class="col-md-8">
            <h2>Change password for user</h2>
            <form class="form-horizontal" role="form"  action="$root/system/security/resetpassword" method="post" autocomplete="off">
              <div class="form-group">
                <label for="userid" class="col-md-offset-1 col-md-2 control-label">User id</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" id="userid" name="userid" placeholder="User identifier" #if($userid)value="$userid"#end>
                </div>
              </div>
              <div class="form-group">
                <label for="newPassword" class="col-md-offset-1 col-md-2 control-label">New password</label>
                <div class="col-md-8">
                  <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                  <button type="submit" class="btn btn-default">Change password</button>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-4">
            <h2>Pick user to change</h2>
            #foreach($user in $registry.userStore.listUsers(""))
              <p><a href="$uiroot/reset-password?userid=$user.openid">$user.name</a></p>
            #end
          </div>
        </div>

    #else
        <h3>Sorry you must be logged in as an adminstrator to access this page</h3>
    #end

    ## container will be closed by footer

#parse("footer.vm")
