## Parameters:
##    $userid the user to change
##    $return the page to return to (or is that just referrer)

#set($nav="admin")
#parse("structure/_preamble.vm")

  <div class="row">
    <div class="col-md-12 modal-page-panel">
      <div class="modal-page-head">
        <h1>Change password for $lib.escapeHtml($userid)</h1>
      </div>
      <div class="modal-page-body">
 

        <div class="row space-above">
        
          <div class="col-md-offset-2 col-md-8 blob-password">
            <div class="blob-inner">
              <div class="row">
                <form class="form-horizontal form-validated" role="form"  action="$root/system/security/resetpassword" method="post" autocomplete="off">
                  <input type="hidden" id="userid2" name="userid" value="$userid">
                  <div class="form-group">
                    <label for="password1" class="col-md-offset-1 col-md-4 control-label">Password</label>
                    <div class="col-md-6">
                      <input type="password" class="form-control" id="password1" minlength=8 name="newPassword" placeholder="Password" required pwcomplex="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password2" class="col-md-offset-1 col-md-4 control-label">Repeat password</label>
                    <div class="col-md-6">
                      <input type="password" class="form-control" id="password2" name="password2" placeholder="Password" required equalTo="#password1">
                    </div>
                  </div>
                  <input type="hidden" name="return" value="$return" />
                  <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                      <button type="submit" class="btn btn-default">Reset password</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>        
        </div>

      </div>
      <div class="modal-page-footer">
        <div class="row">
          <div class="col-md-offset-10 col-md-1">
            <a href="$return" class="btn">Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal-backdrop in"></div>

#set( $extraJS = "jquery.validate.min.js,validate-password.js" )
#parse("structure/_footer.vm")
