#parse("header.vm")
#set($nav="admin")
#parse("navbar.vm")

    <div class="container">
    #if($subject.isAuthenticated())
        <h2>Create a temporary password (API Key)</h2>
          <div class="alert alert-warning" role="alert">Only use this if you authenticate via OAuth (e.g. Google login), if you login by password this will replace the password with a temporary one that will expire.</div>
          <div class="row">
            <form class="form-inline ajax-inline-form col-md-12" action="$root/system/security/createpassword" method="post">
              <input type="submit" value="Create password" class="btn" />
              <label class="text">
                  <input type="text" name="minstolive" value="60" class="input-mini"/>
                  Minutes to live
              </label>
            </form>
          </div>
          <div class="row">
            <div id="form-result" class="col-md-12"></div>
          </div>

     #else
        <h3>Sorry you must be logged in to access this page</h3>
    #end

    ## container will be closed by footer

#parse("footer.vm")
