#set($nav="admin")
#parse("structure/_preamble.vm")

    #if($subject.isAuthenticated() && $subject.hasRole("administrator"))

        <h2>$msg.textIndex.rebuild.heading</h2>

          <div class="row">
            <form class="form-inline ajax-inline-form col-md-12" action="$root/system/text-reindex" method="post">
              <input type="submit" value="$msg.textIndex.rebuild.button" class="btn" />
            </form>
          </div>
          <div class="row">
            <p id="form-result" class="col-md-12"></p>
          </div>

    #else
        <h3>$msg.user.loginRequired</h3>
    #end

#parse("structure/_footer.vm")
