#macro(resultrow $entity $item)
            <tr>
              <td>
                #if($entity.hasResourceValue("rdf:type", "reg:Register"))<span class="glyphicon glyphicon-folder-open"></span> &nbsp; #end
                <a href="#linkhref($item)" title="$item.uRI">$entity.name</a>
              </td>
              <td>$item.getPropertyValue("reg:notation").lexicalForm</td>
              <td>#tdescription($entity,"",70)</td>
              <td>
                #foreach($ty in $entity.listPropertyValues("rdf:type"))#linkfor($ty)#if( $foreach.hasNext ), #end#end
              </td>
              <td>#showstatus($item.getPropertyValue("reg:status"))</td>
            </tr>
#end

#set($pageTitle="Search: $lib.escapeHtml($query)")
#parse("header.vm")
#parse("navbar.vm")

#set($target='<nullsearch>')
#if($query && !$query.trim().isEmpty()) #set($target=$lib.reg.asLucenceQuery($query.trim())) #end

#if($page)
  #set($paging="_page=$page")
#else
  #set($paging="firstPage")
#end

#set($response=$registry.perform("Search","?query=$lib.pathEncode($target)&_view=with_metadata&$paging", $requestor))

#if($response.status == 200)
  #set($model=$response.entity)
  #set($qr=$model.querySelectW("SELECT * WHERE {?page a ldp:Page; api:items ?items}")[0])
  #set($items=$qr.items.asList())
  #set($pageres=$qr.page)

  <div class="container">
    <h3>Search results for: $lib.escapeHtml($query)</h3>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Notation</th>
          <th>Description</th>
          <th>Types</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        #set($lastEntity="")
        #foreach($entity in $items)
          #if($lastEntity != $entity)  ## skip duplicates due to multiple registrations
            #set($linkedItems=$entity.connectedNodes("^reg:entity/^reg:definition"))
            #if($linkedItems.isEmpty())
              #resultrow($entity,$entity)
            #else
              #foreach($linkedItem in $linkedItems)
                #resultrow($entity,$linkedItem)
              #end
            #end
            #set($lastEntity=$entity)
          #end
        #end
      </tbody>
    </table>

##    #set($qparam="&query=$lib.pathEncode($query)")
    #set($qparam="&query=$lib.escapeHtml($query)")
    #parse("paging.vm")

#else
  #parse("internal-error.vm")
#end


#parse("footer.vm")
