#set($nav="admin")
#parse("structure/_preamble.vm")

    #if($subject.isAuthenticated())
        <h2>Permissions</h2>
        #if($subject.hasRole("administrator"))
            <p>You are an administrator and so have full permissions, the following list is superfluous.</p>
        #end
        #set($permissions = $lib.reg.permissions)
        #if(!$permissions.isEmpty())
            <h3>Explicitly granted permissions (inherit down the tree)</h3>
            <table class="table">
              <tbody>
                #foreach($permission in $lib.reg.permissions)
                <tr>
                  <td>$permission.path</td>
                  <td>$permission.actionString</td>
                </tr>
                #end
              </tbody>
            </table>
        #else
            <p>No explicit permissions granted</p>
        #end

    #else
        <h3>Sorry you must be logged in to access this page</h3>
    #end

#parse("structure/_footer.vm")
