#set($nav="admin")
#parse("structure/_preamble.vm")

    #if($subject.isAuthenticated())
        <h2>$msg.permissions.heading</h2>
        #if($subject.hasRole("administrator"))
            <p>$msg.permissions.admin.note</p>
        #end
        #set($permissions = $lib.reg.permissions)
        #if(!$permissions.isEmpty())
            <h3>$msg.permissions.granted</h3>
            <table class="table">
              <tbody>
                #foreach($permission in $lib.reg.permissions)
                <tr>
                  <td>$permission.path</td>
                  <td>$permission.actionString</td>
                </tr>
                #end
              </tbody>
            </table>
        #else
            <p>$msg.permissions.none</p>
        #end

    #else
        <h3>$msg.user.loginRequired</h3>
    #end

#parse("structure/_footer.vm")
