## Action to manually create a new register
<a href="$uiroot/actions/create-register-page?register=#linkhref($register)&return=$root/$uri" role="button" class="btn btn-default btn-sm" data-toggle="modal">Create register <span class="glyphicon glyphicon-plus-sign"></span></a>
