## Render the dialog for regsitering an set of entries by uploading a file (patch, bulk, multi)
## Parameters:
##    $return the page to return to (or is that just referrer)
##    $register the register in which to add the new registration

#parse("structure/_preamble.vm")

<div class="row">
    <div class="col-md-10 col-md-offset-1 modal-page-panel">
    
        <div class="modal-page-head">
            <h3>$msg['register.update.heading']</h3>
        </div>

        <div class="modal-page-body">
            <div class="ajax-error"></div>
        </div>

        <div class="row space-above">
            <div class="col-md-8">
                $msg['register.update.upload.description']
            </div>
        </div>
        <div id="patch-dialog-status-body" class="modal-body">

            <form id="registration-form" action="$lib.reg.xssCleanHTMLAtribute($register)" method="post" enctype="multipart/form-data" data-return="$lib.reg.xssCleanHTMLAtribute($return)">
                <label>$msg['register.update.content.label']</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="uploadOptions" id="uploadOptions1" value="edit" checked>
                        $msg['register.update.content.edit.description']
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="uploadOptions" id="uploadOptions2" value="batch">
                        $msg['register.update.content.batch.description']
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="uploadOptions" id="uploadOptions3" value="">
                        $msg['register.update.content.new.description']
                    </label>
                </div>
                <div class="form-group">
                    <label for="file">
                        $msg['register.update.file.label']
                    </label>
                    <input id="patch-chooser" class="form-control" type="file" name="file" multiple />
                </div>
                <button class="btn form-submit">$msg['register.update.upload.button']</button>
                <button id="registration-form-compare" type="button" class="btn">$msg['registerItem.compare.button']</button>
            </form>
            <div class="compare-result"></div>
        </div>

        <div class="modal-page-footer">
            <a href="$lib.reg.xssCleanURI($return)" class="btn pull-right">$msg['ui.close']</a>
        </div>
      
    </div>
</div>
<div class="modal-backdrop in"></div>

<script type="text/javascript" src="$assets/js/registry-compare.js"></script>

<script type="text/javascript">
$(function() {

    var getUploadOption = function() {
      return $("\#registration-form input[name=uploadOptions]:checked").val();
    }

    registryCompare({
      selector: {
        error: ".ajax-error",
        target: ".compare-result",
        button: "#registration-form-compare",
        form: "#registration-form"
      },
      data: {
        isEdit: function() {
          return getUploadOption() === "edit";
        }
      }
    });

    $("#registration-form").submit( function() {
        var form = $(this);
        var returnURL = form.attr('data-return');
        var target = form.attr('action');
        var uploadOption = getUploadOption();
        var data = { action: "register" };
        if (uploadOption) {
            if (uploadOption === "edit") {
                data.action = "edit";
            } else if (uploadOption === "batch") {
                target = target + "?batch-managed";
            }
        };
        form.ajaxSubmit(
          {
            url: target,
            data: data,
            success:
                function(data, status, xhr){
                    if (returnURL) {
                        window.location.href = returnURL;
                    } else {
                      location.reload();
                    }
                },

            error:
              function(xhr, status, error){
                 $(".ajax-error").html("<div class='alert alert-warning'> <button type='button' class='close' data-dismiss='alert'>&times;</button>Action failed: " + error + " - " + xhr.responseText + "</div>");
              }
          }
        );
        return false;
    });
});
</script>

#parse("structure/_footer.vm")
